
/* Sidebar Styling */

#sidebar-container {
	z-index: 1;
	position: absolute;
	width: 0;
	height: 96%;
	overflow-y: hidden;
	background: lightblue;
	opacity: 0.9;
}

#content {
	width: 100%;
	position: absolute;
	padding: 15px;
}

#container.menu-displayed #sidebar-container {
	width: 250px;
}

#container.menu-displayed #content {
	padding-left: 250px;
}

.sidebar-nav {
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	text-indent: 20px;
	line-height: 40px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #fff;
}

.sidebar-nav li a:hover {
	background: #16A085;
}

#response, #current-latitude, #current-longitude, #current-user-info, #current-user-stored-locations, #current-user-shared-items, #generic-response {
	visibility: hidden;
	display: none;
}

hr {
	width: 95%;
	height: 2px !important;
	background-color: white;
}